<!-- <div class="mt-5">
</div>
<footer id="divFooter" class="fixed-bottom">
  
  <div class="text-light bg-dark text-center text-sm">
    <span>
        Copyright © 2017 -
        <a class="text-light" target="_blank" href="http://www.cris.org.in">www.cris.org.in</a>
    </span>
    <!-- <span class="pull-right">
      <a target="_blank" href="http://contents.irctc.co.in/en/BetaSiteCompatibleBrowser.html" style="cursor:pointer">Compatible Browsers</a>
    </span> -->
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 

    
 <mat-grid-list align-self="bottom" cols=1 rowHeight="50:1">
    <mat-grid-tile class="fixed-bottom">
        
        Copyright © 2018  <a class="text-light" target="_blank" href="http://www.cris.org.in">www.cris.org.in</a>
    </mat-grid-tile>
  </mat-grid-list>
  
