<h1 align="center">Journalist Details</h1>
  

<mat-grid-list cols=4 rowHeight="4:1">
<mat-grid-tile>
    <mat-form-field>
        <mat-select placeholder="Father/Companion">
        <mat-option>Spouse</mat-option>
        <mat-option>Father</mat-option>
        </mat-select>
        </mat-form-field>
</mat-grid-tile>

<mat-grid-tile>
  <mat-form-field>
    <input matInput placeholder="Name">
    </mat-form-field>
  </mat-grid-tile>

<mat-grid-tile>
    <mat-form-field>
        <mat-select placeholder="Gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{ gender.viewValue }}
              </mat-option>
        </mat-select>
        </mat-form-field>
      </mat-grid-tile>

<mat-grid-tile>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
</mat-grid-tile>

<mat-grid-tile>
    <mat-form-field>
        <input matInput placeholder="Aadhar">
        </mat-form-field>
</mat-grid-tile>

<mat-grid-tile>
    <mat-form-field>
        <input matInput placeholder="Agency">
        </mat-form-field>
</mat-grid-tile>

<mat-grid-tile>
   <mat-form-field>
    <input matInput placeholder="Issuing Authority">
    </mat-form-field>
  </mat-grid-tile>
 
<mat-grid-tile>
    <mat-form-field>
        <input matInput placeholder="Designation">
        </mat-form-field>
</mat-grid-tile>
   

    </mat-grid-list>

    <div class="buttons" align-self="center">
            <mat-action-row>
             <!-- <button mat-button color="warn" (click)="prevStep()">Previous</button>-->
              <button mat-button color="primary" type="submit" routerLink="/conc-card">Back</button>
            </mat-action-row>
            </div>